{% extends 'base.html' %}

{% block title %}About{% endblock title %}

{% block content %}
<h1>About</h1>
<p>Airplane manufacturing companies play a crucial role in the global aviation industry, providing the technology and
    infrastructure necessary for air travel. Major players like Boeing and Airbus dominate the market, producing a range
    of aircraft from commercial airliners to cargo planes and military jets. These companies invest heavily in research
    and development to enhance safety, fuel efficiency, and environmental sustainability. Innovations such as advanced
    aerodynamics, lightweight materials, and next-generation engines are continuously being integrated into their
    designs, making air travel faster, safer, and more accessible than ever before.</p>
{% endblock content %}