{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

{% block content %}
<h1>Home</h1>
<p>The homepage of an airplane manufacturing company typically showcases the latest aircraft models, innovative
    technologies, and key features that highlight their commitment to safety and sustainability. Visitors can find
    information about the company's history, mission, and achievements, along with news updates on recent projects and
    partnerships. Interactive elements, such as virtual tours and videos, often provide an engaging glimpse into the
    design and manufacturing processes. Additionally, sections dedicated to customer support and resources for airlines,
    operators, and suppliers help streamline communication and enhance collaboration within the aviation industry.</p>
{% endblock content %}